/* Arxa fon və ümumi font */
body {
  background-color: #e8e8e8;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

/* Form dizaynı */
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  background-color: #fff;
  padding: 35px;
  border-radius: 20px;
  margin: 100px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

/* Başlıq */
.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 5px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

/* Açıklama yazısı */
.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
  margin-top: 10px;
}

.signin a {
  color: royalblue;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

/* Label və input ümumi stili */
.form label {
  position: relative;
  width: 100%;
}

.form .input {
  width: 100%;
  padding: 12px 10px 18px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  background-color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}

/* Input label yazısı */
.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
  pointer-events: none;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

/* Submit düyməsi */
.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

/* Animasiya */
@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
